
.header-section {
    border-bottom: 1px solid #ECECEC;
}

.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
}

.site-nav {
    display: none;
    margin-left: 93px;
    padding-left: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
    
    &__link{
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    
        color: #212121;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
}

    &__item-link {
        position: relative;
}

    &__item-link::after {
        display: block;    
        position: absolute;
        content: '';

        bottom: -2.7px;
        left: 0;
        width: 100%;
        height: 4px;

        background-color: var(--accent-color);
        border-radius: 2px;
}
    &__link--current{
        color: var(--accent-color);
   }

    &__link--current:hover,
    &__link--current:focus {
        color: var(--accent-color);
}

}

.site-auth {
    display: none;
    margin-left: auto;
    padding-left: 0;
    
    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 0;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__item:not(:first-child) {
        margin-left: 0;

        @media screen and (min-width: 1200px) {
            margin-left: 50px;
    }
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }
    


    &__link {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    
        text-decoration: none;  
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 1.17;
    }
        
        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;

            font-size: 14px;
            line-height: 1.14;
        }

    }
    
    &__link:hover,
    &__link:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
    
    &__item {
        display: flex;
        align-items: center;
        text-decoration: none;
        line-height: 1.14;
        fill: #757575;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    &__icon {
        margin-right: 10px;
    } 
    
    &__item:hover &__icon,
    &__item:focus &__icon {
        fill: var(--accent-color);
        cursor: pointer;
    }

}

@media screen and (min-width: 768px) {
    .site-auth__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

.menu-open-btn {
    width: 40px;
    // height: 35%;
    padding: 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    background-color: #fff;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: none;
}
}

.menu-open-icon {
    width: 40px;
    height: 40px;
}

.menu-open-btn:hover .menu-open-icon,
.menu-open-btn:focus .menu-open-icon {
    fill: var(--accent-color);
}

.mob-menu {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    z-index: 999;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    .container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.menu-close-btn {
    position: absolute;
    top: -25px;
    right: 15px;
    background-color: #fff;
    border: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-close-icon {
    width: 40px;
    height: 40px;
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
    fill: var(--accent-color);
}

.mob-menu-item {
    &:not(:last-child) {
        margin-bottom: 36px;
    }
}
.mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: var(--accent-color);
}

.mob-contacts-list {
    margin-bottom: 64px;
}

.mob-contacts-item {
    &:not(:last-child) {
        margin-bottom: 36px;
    }
}
.mob-contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);

    &.big {
        font-size: 34px;
        line-height: 1.18;
        color: var(--accent-color);
    }

}
.mob-soc-list {
    display: flex;
}
.mob-soc-item {
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;
    }
}
.mob-soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
}